---
import BaseLayout from "../layouts/BaseLayout.astro";
import { organiseComments } from "../lib/utils";
import type { Page, Post } from "../types";
import "../styles/post.css";
import Comments from "../components/comments.astro";
import Newsletter from "../components/newsletter.astro";
import logo3 from "../images/logo-3.png";
import { fetchGraphQL } from "../lib/api";
import GET_ALL_POSTS from "../lib/queries/getAllPosts";
import SINGLE_PAGE_QUERY_PREVIEW from "../lib/queries/singlePage";

const variables = { id: "10608" };
let singlePage: Page | null = null;

try {
  const { page } = await fetchGraphQL(SINGLE_PAGE_QUERY_PREVIEW, variables);
  singlePage = page;
} catch (error) {
  console.error("Error fetching GraphQL data:", error);
}

if (!singlePage) {
  throw new Error("No single page data found");
}

let hasNextPage = true;
let endCursor: string | null = null;

let independentTotal = 0;
let independentCount = 0;

let nonIndependentTotal = 0;
let nonIndependentCount = 0;

while (hasNextPage) {
  const variables = endCursor ? { after: endCursor } : {};
  const { posts } = await fetchGraphQL(GET_ALL_POSTS, variables);

  posts.nodes.forEach((post: Post) => {
    const ratingStr = post.ratings?.nodes?.[0]?.name ?? "";
    const rating = Number.parseFloat(ratingStr);

    const ownerName = post.owners?.nodes?.[0]?.name ?? "";

    if (!Number.isNaN(rating) && ownerName) {
      if (ownerName.toLowerCase() === "independent") {
        independentTotal += rating;
        independentCount++;
      } else {
        nonIndependentTotal += rating;
        nonIndependentCount++;
      }
    }
  });

  hasNextPage = posts.pageInfo.hasNextPage;
  endCursor = posts.pageInfo.endCursor;
}

const avgIndependent = independentCount
  ? (independentTotal / independentCount).toFixed(2)
  : "N/A";
const avgNonIndependent = nonIndependentCount
  ? (nonIndependentTotal / nonIndependentCount).toFixed(2)
  : "N/A";

const threadedComments = organiseComments(singlePage.comments.nodes);
---

<BaseLayout
  pageTitle={singlePage.title}
  description={singlePage?.seo?.opengraphDescription}
  opengraphImage={singlePage?.seo?.opengraphImage?.sourceUrl}
>
  <div class="image-container">
    <img
      src={singlePage?.featuredImage?.node?.sourceUrl || logo3.src}
      alt={singlePage.title}
      width={5000}
      height={5000}
      class="featured-image"
      loading="eager"
    />
    <div class="copyright-overlay">
      &copy; {new Date().getFullYear()} Roast Dinners in London. All rights reserved.
    </div>
  </div>
  <section class="post-title">
    <h2>{singlePage.title}</h2>
  </section>
  <div class="container">
    <div set:html={singlePage.content} />
    <p>Number of independent restaurants: {independentCount}</p>
    <p>Number of non-independent restaurants: {nonIndependentCount}</p>
    <p>Average score for independent restaurants: {avgIndependent}</p>
    <p>Average score for non-independent restaurants: {avgNonIndependent}</p>

    <Newsletter />
    <Comments threadedComments={threadedComments} postId={singlePage.pageId} />
  </div>
</BaseLayout>
