---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getTopRoastDinnerPosts, organiseComments } from "../lib/utils";
import type { Page } from "../types";
import "../styles/post.css";
import BestPostsList from "../components/best-posts-list.astro";
import Comments from "../components/comments.astro";
import Newsletter from "../components/newsletter.astro";
import logo3 from "../images/logo-3.png";
import { fetchGraphQL } from "../lib/api";

export const prerender = true;

import { getAllRoastDinnerPosts } from "../lib/getAllRoastDinnerPosts";
import { getSinglePageData } from "../lib/getSinglePageData";

const variables = { id: "6728" };
const singlePage = await getSinglePageData({ variables });

const allPosts = await getAllRoastDinnerPosts();

const filtered = getTopRoastDinnerPosts(allPosts, {
  lovedIncludesAny: ["yorkshire pudding", "yorkie"],
});

const threadedComments = organiseComments(singlePage.comments.nodes);
---

<BaseLayout
  pageTitle={singlePage.title}
  description={singlePage?.seo?.opengraphDescription}
  opengraphImage={singlePage?.seo?.opengraphImage?.sourceUrl}
>
  <div class="image-container">
    <img
      src={singlePage?.featuredImage?.node?.sourceUrl}
      alt={singlePage.title}
      width={5000}
      height={5000}
      class="featured-image"
      loading="eager"
    />
    <div class="copyright-overlay">
      &copy; {new Date().getFullYear()} Roast Dinners in London. All rights reserved.
    </div>
  </div>
  <section class="post-title">
    <h2>{singlePage.title}</h2>
  </section>
  <div class="container">
    <div set:html={singlePage.content} />

    <BestPostsList posts={filtered} />

    <Newsletter />
    <Comments threadedComments={threadedComments} postId={singlePage.pageId} />
  </div>
</BaseLayout>
