---
import BaseLayout from "../layouts/BaseLayout.astro";
export const prerender = true;

import type { Comments as CommentsType, Page, Post } from "../types";


import { organiseComments } from "../lib/comments";
import "../styles/post.css";
import Comments from "../components/comments.astro";
import Newsletter from "../components/newsletter.astro";
import logo3 from "../images/logo-3.png";
import { fetchGraphQL } from "../lib/api";
import GET_ALL_POSTS from "../lib/queries/getAllPosts";
import SINGLE_PAGE_QUERY_PREVIEW from "../lib/queries/singlePage";

const variables = { id: "6947" };
let singlePage: Page | null = null;

try {
  const { page } = await fetchGraphQL(SINGLE_PAGE_QUERY_PREVIEW, variables);
  singlePage = page;
} catch (error) {
  console.error("Error fetching GraphQL data:", error);
}


if (!singlePage) {
  throw new Error("No single page data found");
}

const bakerlooStations = [
  "Harrow And Wealdstone",
  "Kenton",
  "South Kenton",
  "North Wembley",
  "Wembley Central",
  "Stonebridge Park",
  "Harlesden",
  "Willesden Junction",
  "Kensal Green",
  "Queen’s Park",
  "Kilburn Park",
  "Maida Vale",
  "Warwick Avenue",
  "Paddington",
  "Edgware Road",
  "Marylebone",
  "Baker Street",
  "Regent’s Park",
  "Oxford Circus",
  "Piccadilly Circus",
  "Charing Cross",
  "Embankment",
  "Waterloo",
  "Lambeth North",
  "Elephant And Castle",
];

const roastPosts: Post[] = [];
let hasNextPage = true;
let endCursor: string | null = null;

while (hasNextPage) {
  const variables = endCursor ? { after: endCursor } : {};
  const data = await fetchGraphQL(GET_ALL_POSTS, variables);
  const posts = data.posts;

  // b: <explanation>
  posts.nodes.forEach((post: Post) => {
    const rating = Number.parseFloat(post.ratings?.nodes?.[0]?.name || "0");

    if (
      rating >= 7.5 &&
      post.tubeStations?.nodes.some((station) =>
        bakerlooStations.includes(station.name)
      ) &&
      post.closedDowns?.nodes.length === 0
    ) {
      roastPosts.push(post);
    }
  });

  hasNextPage = posts.pageInfo.hasNextPage;
  endCursor = posts.pageInfo.endCursor;
}

const threadedComments = organiseComments(singlePage.comments.nodes);
---

<BaseLayout
  pageTitle={singlePage.title}
  description={singlePage?.seo?.opengraphDescription}
  opengraphImage={singlePage?.seo?.opengraphImage?.sourceUrl}
>
  <div class="image-container">
    <img
      src={singlePage?.featuredImage?.node?.sourceUrl || logo3.src}
      alt={singlePage.title}
      width={5000}
      height={5000}
      class="featured-image"
      loading="eager"
    />
    <div class="copyright-overlay">
      &copy; {new Date().getFullYear()} Roast Dinners in London. All rights reserved.
    </div>
  </div>
  <section class="post-title">
    <h2>{singlePage.title}</h2>
  </section>

  <div class="container">
    <div set:html={singlePage.content} />
    <section>
      <h3 class="heading-underline bakerloo">
        Roast Dinners On The Bakerloo Line
      </h3>

      <p>Where can you find good roast dinners on the Bakerloo Line?</p>
      <p>This is based solely on the tube station I used to get there.</p>
      <ul class="station-list">
        {
          bakerlooStations.map((station, index) => {
            const postsForStation = roastPosts.filter((post) =>
              post.tubeStations?.nodes.some(
                (tubeStation) => tubeStation.name === station
              )
            );

            const topPost = postsForStation[0];
            return (
              <li class="station-list-item">
                <span class="tube-circle-wrapper">
                  {index === 0 && <span class="tube-connector invisible" />}
                  {index !== 0 && <span class="tube-connector" />}
                  <span class="tube-circle" />
                  {index !== bakerlooStations.length - 1 && (
                    <span class="tube-connector" />
                  )}
                  {index === bakerlooStations.length - 1 && (
                    <span class="tube-connector invisible" />
                  )}
                </span>
                <span class="station-name">{station}</span>
                {topPost && (
                  <span class="station-post">
                    <a href={`/${topPost.slug}`}>{topPost.title}</a>
                    <span class="station-rating">
                      {topPost?.ratings?.nodes[0].name}
                    </span>
                  </span>
                )}
              </li>
            );
          })
        }
      </ul>
    </section>
  </div>

  <Newsletter />
  <Comments threadedComments={threadedComments} postId={singlePage.pageId} />
</BaseLayout>


