---
import BaseLayout from "../layouts/BaseLayout.astro";
export const prerender = true;

import { organiseComments } from "../lib/utils";
import type { Page, Post } from "../types";
import "../styles/post.css";
import Comments from "../components/comments.astro";
import Newsletter from "../components/newsletter.astro";
import logo3 from "../images/logo-3.png";
import { fetchGraphQL } from "../lib/api";
import GET_ALL_POSTS from "../lib/queries/getAllPosts";
import SINGLE_PAGE_QUERY_PREVIEW from "../lib/queries/singlePage";

const variables = { id: "8596" };
let singlePage: Page | null = null;

try {
  const { page } = await fetchGraphQL(SINGLE_PAGE_QUERY_PREVIEW, variables);
  singlePage = page;
} catch (error) {
  console.error("Error fetching GraphQL data:", error);
}

if (!singlePage) {
  throw new Error("No single page data found");
}

export async function getTopRatedRoasts(): Promise<Post[]> {
  const allPosts: Post[] = [];
  let hasNextPage = true;
  let endCursor: string | null = null;

  while (hasNextPage) {
    const variables = endCursor ? { after: endCursor } : {};
    const { posts } = await fetchGraphQL(GET_ALL_POSTS, variables);

    const filtered = posts.nodes.filter((post: Post) => {
      const tags = post.tags?.nodes?.map((tag) => tag.name) || [];
      const isClosed = post.closedDowns?.nodes[0]?.name || "";
      const rating = Number.parseFloat(post.ratings?.nodes?.[0]?.name || "0");
      return (
        tags.includes("Mayfair") &&
        !isClosed &&
        !Number.isNaN(rating) &&
        rating > 7.5
      );
    });

    allPosts.push(...filtered);
    hasNextPage = posts.pageInfo.hasNextPage;
    endCursor = posts.pageInfo.endCursor;
  }

  return allPosts
    .sort(
      (a, b) =>
        Number.parseFloat(b.ratings?.nodes?.[0]?.name || "") -
        Number.parseFloat(a.ratings?.nodes?.[0]?.name || "")
    )
    .slice(0, 5);
}

const topRated = await getTopRatedRoasts();
const threadedComments = organiseComments(singlePage.comments.nodes);
---

<BaseLayout
  pageTitle={singlePage.title}
  description={singlePage?.seo?.opengraphDescription}
  opengraphImage={singlePage?.seo?.opengraphImage?.sourceUrl}
>
  <div class="image-container">
    <img
      src={singlePage?.featuredImage?.node?.sourceUrl || logo3.src}
      alt={singlePage.title}
      width={5000}
      height={5000}
      class="featured-image"
      loading="eager"
    />
    <div class="copyright-overlay">
      &copy; {new Date().getFullYear()} Roast Dinners in London. All rights reserved.
    </div>
  </div>
  <section class="post-title">
    <h2>{singlePage.title}</h2>
  </section>
  <div class="container">
    <div set:html={singlePage.content} />
    {
      topRated.map((post) => (
        <div class="best-container">
          <div class="best-container-details">
            <h2>
              <a href={`/${post.slug}`}>{post.title}</a>
            </h2>
            {post.highlights?.loved && (
              <div class="post-summary-block highlight-block">
                <p>
                  <strong>Loved:</strong> {post.highlights.loved}
                </p>
                {post.highlights.loathed && (
                  <p>
                    <strong>Loathed:</strong> {post.highlights.loathed}
                  </p>
                )}
              </div>
            )}
            <p>
              <strong>Rating:</strong>{" "}
              {parseFloat(post?.ratings?.nodes[0].name || "").toFixed(2)}
            </p>
            {post.yearsOfVisit?.nodes?.[0]?.name && (
              <p>
                <strong>Year visited:</strong> {post.yearsOfVisit.nodes[0].name}
              </p>
            )}
          </div>
          {post.featuredImage?.node?.sourceUrl && (
            <div class="best-container-image">
              <img
                src={post.featuredImage.node.sourceUrl}
                alt={
                  post.featuredImage.node.altText || `Image for ${post.title}`
                }
              />
            </div>
          )}
        </div>
      ))
    }

    <Newsletter />
    <Comments threadedComments={threadedComments} postId={singlePage.pageId} />
  </div>
</BaseLayout>
