---
import BaseLayout from "../layouts/BaseLayout.astro";
export const prerender = true;

import "../styles/post.css";
import BestPostsList from "../components/best-posts-list/best-posts-list.astro";
import Comments from "../components/comments/comments.astro";
import FeaturedPostHeader from "../components/featured-post-header/featured-post-header.astro";
import Newsletter from "../components/newsletter/newsletter.astro";
import { getAllRoastDinnerPosts } from "../lib/getAllRoastDinnerPosts";
import { getSinglePageData } from "../lib/getSinglePageData";
import { getTopRoastDinnerPosts, organiseComments } from "../lib/utils";

const variables = { id: "10960" };
const singlePage = await getSinglePageData({ variables });

const allPosts = await getAllRoastDinnerPosts();

const filtered = getTopRoastDinnerPosts(allPosts, {
  lovedIncludesAny: ["crackling"],
});

const threadedComments = organiseComments(singlePage.comments.nodes);
---

<BaseLayout
  pageTitle={singlePage.title}
  description={singlePage?.seo?.opengraphDescription}
  opengraphImage={singlePage?.seo?.opengraphImage?.sourceUrl}
>
  <FeaturedPostHeader
    imageSrc={singlePage?.featuredImage?.node?.sourceUrl}
    title={singlePage.title}
  />
  <div class="container">
    <div set:html={singlePage.content} />

    <BestPostsList posts={filtered} />

    <Newsletter />
    <Comments threadedComments={threadedComments} postId={singlePage.pageId} />
  </div>
</BaseLayout>
