---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getTopRoastDinnerPosts, organiseComments } from "../lib/utils";
import type { Page } from "../types";
import "../styles/post.css";
import Comments from "../components/comments.astro";
import Newsletter from "../components/newsletter.astro";
import logo3 from "../images/logo-3.png";
import { fetchGraphQL } from "../lib/api";

export const prerender = true;

import { getAllRoastDinnerPosts } from "../lib/getAllRoastDinnerPosts";
import { getSinglePageData } from "../lib/getSinglePageData";

const variables = { id: "6760" };
const singlePage = await getSinglePageData({ variables });

const allPosts = await getAllRoastDinnerPosts();

const filtered = getTopRoastDinnerPosts(allPosts, {
  lovedIncludesAny: ["roasties", "roast potatoes"],
});

const threadedComments = organiseComments(singlePage.comments.nodes);
---

<BaseLayout
  pageTitle={singlePage.title}
  description={singlePage?.seo?.opengraphDescription}
  opengraphImage={singlePage?.seo?.opengraphImage?.sourceUrl}
>
  <div class="image-container">
    <img
      src={singlePage?.featuredImage?.node?.sourceUrl || logo3.src}
      alt={singlePage.title}
      width={5000}
      height={5000}
      class="featured-image"
      loading="eager"
    />
    <div class="copyright-overlay">
      &copy; {new Date().getFullYear()} Roast Dinners in London. All rights reserved.
    </div>
  </div>
  <section class="post-title">
    <h2>{singlePage.title}</h2>
  </section>
  <div class="container">
    <div set:html={singlePage.content} />

    {
      filtered.map((post) => (
        <div class="best-container">
          <div class="best-container-details">
            <h2>
              <a href={`/${post.slug}`}>{post.title}</a>
            </h2>

            {post.highlights?.loved && (
              <div class="post-summary-block highlight-block">
                <p>
                  <strong>Loved:</strong> {post.highlights.loved}
                </p>
                {post.highlights.loathed && (
                  <p>
                    <strong>Loathed:</strong> {post.highlights.loathed}
                  </p>
                )}
              </div>
            )}

            <p>
              <strong>Rating:</strong>{" "}
              {parseFloat(post?.ratings?.nodes[0].name || "").toFixed(2)}
            </p>

            {post.yearsOfVisit?.nodes?.[0]?.name && (
              <p>
                <strong>Year visited:</strong> {post.yearsOfVisit.nodes[0].name}
              </p>
            )}
          </div>

          {post.featuredImage?.node?.sourceUrl && (
            <div class="best-container-image">
              <img
                src={post.featuredImage.node.sourceUrl}
                alt={
                  post.featuredImage.node.altText || `Image for ${post.title}`
                }
              />
            </div>
          )}
        </div>
      ))
    }

    <Newsletter />
    <Comments threadedComments={threadedComments} postId={singlePage.pageId} />
  </div>
</BaseLayout>
