---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getTopRoastDinnerPosts, organiseComments } from "../lib/utils";
import "../styles/post.css";
import BestPostsList from "../components/best-posts-list/best-posts-list.astro";
import Comments from "../components/comments/comments.astro";
import FeaturedPostHeader from "../components/featured-post-header/featured-post-header.astro";
import Newsletter from "../components/newsletter/newsletter.astro";
import logo3 from "../images/logo-3.png";
export const prerender = true;

import { getAllRoastDinnerPosts } from "../lib/getAllRoastDinnerPosts";
import { getSinglePageData } from "../lib/getSinglePageData";

const variables = { id: "9889" };
const singlePage = await getSinglePageData({ variables });

const allPosts = await getAllRoastDinnerPosts();

const filtered = getTopRoastDinnerPosts(allPosts, {
  extraPredicate: (post) =>
    post.features?.nodes.some(
      (feature) => feature.name === "top-50-gastropub-2025"
    ) ?? false,
});

const threadedComments = organiseComments(singlePage.comments.nodes);
---

<BaseLayout
  pageTitle={singlePage.title}
  description={singlePage?.seo?.opengraphDescription}
  opengraphImage={singlePage?.seo?.opengraphImage?.sourceUrl}
>
  <FeaturedPostHeader
    imageSrc={singlePage?.featuredImage?.node?.sourceUrl || logo3.src}
    title={singlePage.title}
  />
  <div class="container">
    <div set:html={singlePage.content} />

    <BestPostsList posts={filtered} />

    <p>
      Have you had a roast dinner at any of the Top 50 Gastropubs? Post in the
      comments as to what you thought!
    </p>

    <Newsletter />
    <Comments threadedComments={threadedComments} postId={singlePage.pageId} />
  </div>
</BaseLayout>
