---
import BaseLayout from "../layouts/BaseLayout.astro";
import type { Comments as CommentsType, Page, Post } from "../types";


import { organiseComments } from "../lib/utils";
import "../styles/post.css";
import Comments from "../components/comments.astro";
import Newsletter from "../components/newsletter.astro";
import logo3 from "../images/logo-3.png";
import { fetchGraphQL } from "../lib/api";

export const prerender = true;

import GET_ALL_POSTS from "../lib/queries/getAllPosts";
import SINGLE_PAGE_QUERY_PREVIEW from "../lib/queries/singlePage";

const variables = { id: "7041" };
let singlePage: Page | null = null;

try {
  const { page } = await fetchGraphQL(SINGLE_PAGE_QUERY_PREVIEW, variables);
  singlePage = page;
} catch (error) {
  console.error("Error fetching GraphQL data:", error);
}


if (!singlePage) {
  throw new Error("No single page data found");
}

const allRoastPosts: Post[] = [];

let hasNextPage = true;
let endCursor: string | null = null;

while (hasNextPage) {
  const variables = endCursor
    ? { after: endCursor, search: '"Mashed Potato"' }
    : { search: '"Mashed Potato"' };
  const { posts } = await fetchGraphQL(GET_ALL_POSTS, variables);

  allRoastPosts.push(
    ...posts.nodes
      .filter((post: Post) =>
        post.typesOfPost?.nodes.some((type) => type.name === "Roast Dinner")
      )
      .filter(
        (post: Post) =>
          !post.closedDowns?.nodes.some(
            (closedDown) => closedDown.name !== "Closed Down"
          )
      )
  );
  hasNextPage = posts.pageInfo.hasNextPage;
  endCursor = posts.pageInfo.endCursor;
}

// Sort and slice after collecting all posts
allRoastPosts.sort((a, b) => {
  const aRating = Number.parseFloat(a?.ratings?.nodes[0]?.name || "0");
  const bRating = Number.parseFloat(b?.ratings?.nodes[0]?.name || "0");
  return bRating - aRating;
});

const topRoastPosts = allRoastPosts.slice(0, 5);

const threadedComments = organiseComments(singlePage.comments.nodes);
---

<BaseLayout
  pageTitle={singlePage.title}
  description={singlePage?.seo?.opengraphDescription}
  opengraphImage={singlePage?.seo?.opengraphImage?.sourceUrl}
>
  <div class="image-container">
    <img
      src={singlePage?.featuredImage?.node?.sourceUrl || logo3.src}
      alt={singlePage.title}
      width={5000}
      height={5000}
      class="featured-image"
      loading="eager"
    />
    <div class="copyright-overlay">
      &copy; {new Date().getFullYear()} Roast Dinners in London. All rights reserved.
    </div>
  </div>
  <section class="post-title">
    <h2>{singlePage.title}</h2>
  </section>
  <div class="container">
    <div set:html={singlePage.content} />

    <ul>
      {
        topRoastPosts.map((post) => (
          <div class="best-container">
            <div class="best-container-details">
              <h2>
                <a href={`/${post.slug}`}>{post.title}</a>
              </h2>

              {post.highlights?.loved && (
                <div class="post-summary-block highlight-block">
                  <p>
                    <strong>Loved:</strong> {post.highlights.loved}
                  </p>
                  {post.highlights.loathed && (
                    <p>
                      <strong>Loathed:</strong> {post.highlights.loathed}
                    </p>
                  )}
                </div>
              )}

              <p>
                <strong>Rating:</strong>{" "}
                {parseFloat(post?.ratings?.nodes[0].name || "").toFixed(2)}
              </p>

              {post.yearsOfVisit?.nodes?.[0]?.name && (
                <p>
                  <strong>Year visited:</strong>{" "}
                  {post.yearsOfVisit.nodes[0].name}
                </p>
              )}
            </div>

            {post.featuredImage?.node?.sourceUrl && (
              <div class="best-container-image">
                <img
                  src={post.featuredImage.node.sourceUrl}
                  alt={
                    post.featuredImage.node.altText || `Image for ${post.title}`
                  }
                />
              </div>
            )}
          </div>
        ))
      }
    </ul>

    <Newsletter />
    <Comments threadedComments={threadedComments} postId={singlePage.pageId} />
  </div>
</BaseLayout>


