---
import BaseLayout from "../layouts/BaseLayout.astro";
import { organiseComments } from "../lib/utils";
import "../styles/post.css";
import Comments from "../components/comments.astro";
import FeaturedPostHeader from "../components/featured-post-header.astro";
import Newsletter from "../components/newsletter.astro";

export const prerender = true;

import { getSinglePageData } from "../lib/getSinglePageData";

const variables = { id: "17" };
const singlePage = await getSinglePageData({ variables });

const threadedComments = organiseComments(singlePage.comments.nodes);
---

<BaseLayout
  pageTitle={singlePage.title}
  description={singlePage?.seo?.opengraphDescription}
  opengraphImage={singlePage?.seo?.opengraphImage.sourceUrl}
>
  <FeaturedPostHeader
    imageSrc={singlePage.featuredImage.node.sourceUrl}
    title={singlePage.title}
  />
  <div class="container">
    <div set:html={singlePage.content} />
    <Newsletter />

    <Comments threadedComments={threadedComments} postId={singlePage.pageId} />
  </div>
</BaseLayout>
