---
import BaseLayout from "../layouts/BaseLayout.astro";
import { organiseComments } from "../lib/utils";
import type { Post } from "../types";
import "../styles/post.css";
import Comments from "../components/comments/comments.astro";
import FeaturedPostHeader from "../components/featured-post-header/featured-post-header.astro";
import Newsletter from "../components/newsletter/newsletter.astro";
import { fetchGraphQL } from "../lib/api";

export const prerender = true;

import { getSinglePageData } from "../lib/getSinglePageData";
import GET_ALL_POSTS from "../lib/queries/getAllPosts";

const variables = { id: "8297" };
const singlePage = await getSinglePageData({ variables });

const areaCountsByYear = new Map<string, Record<string, number>>();
const totalAreaCounts: Record<string, number> = {};

let hasNextPage = true;
let endCursor: string | null = null;

while (hasNextPage) {
  const variables = endCursor ? { after: endCursor } : {};
  const { posts } = await fetchGraphQL(GET_ALL_POSTS, variables);

  // b: <explanation>
  posts.nodes.forEach((post: Post) => {
    const year = post.yearsOfVisit?.nodes[0]?.name;
    const areas = post.areas?.nodes.map((a) => a.name);

    if (!year || !areas?.length) return;

    if (!areaCountsByYear.has(year)) {
      areaCountsByYear.set(year, {});
    }

    // biome-ignore lint/style/noNonNullAssertion: <explanation>
    const yearMap = areaCountsByYear.get(year)!;

    // b: <explanation>
    areas.forEach((area) => {
      yearMap[area] = (yearMap[area] || 0) + 1;
      totalAreaCounts[area] = (totalAreaCounts[area] || 0) + 1;
    });
  });

  hasNextPage = posts.pageInfo.hasNextPage;
  endCursor = posts.pageInfo.endCursor;
}

const preferredOrder = [
  "Central London",
  "North London",
  "West London",
  "East London",
  "South London",
];

const threadedComments = organiseComments(singlePage.comments.nodes);
---

<BaseLayout
  pageTitle={singlePage.title}
  description={singlePage?.seo?.opengraphDescription}
  opengraphImage={singlePage?.seo?.opengraphImage?.sourceUrl}
>
  <FeaturedPostHeader
    imageSrc={singlePage?.featuredImage?.node?.sourceUrl}
    title={singlePage.title}
  />
  <div class="container">
    <div set:html={singlePage.content} />

    {
      Array.from(areaCountsByYear.entries())
        .sort(([a], [b]) => parseInt(a) - parseInt(b)) // Sort by year
        .map(([year, areas]) => {
          const sortedAreas: [string, number][] = [];

          preferredOrder.forEach((area) => {
            if (areas[area]) sortedAreas.push([area, areas[area]]);
          });

          return (
            <ul>
              <>
                <strong>{year}:</strong>
                <br />
              </>
              {sortedAreas.map(([area, count]) => (
                <li>
                  {area}: {count} roast{count === 1 ? "" : "s"}
                  <br />
                </li>
              ))}
              <br />
            </ul>
          );
        })
    }

    <hr />
    <h4>Total visits by area across all years</h4>
    <ul>
      {
        preferredOrder.map((area) =>
          totalAreaCounts[area] ? (
            <li>
              {area}: {totalAreaCounts[area]} roast
              {totalAreaCounts[area] === 1 ? "" : "s"}
            </li>
          ) : null
        )
      }
    </ul>

    <Newsletter />

    <Comments threadedComments={threadedComments} postId={singlePage.pageId} />
  </div>
</BaseLayout>
