---
import BaseLayout from "../layouts/BaseLayout.astro";
import { organiseComments } from "../lib/utils";
import type { Post } from "../types";
import "../styles/post.css";
import Comments from "../components/comments/comments.astro";
import FeaturedPostHeader from "../components/featured-post-header/featured-post-header.astro";
import Newsletter from "../components/newsletter/newsletter.astro";
import { fetchGraphQL } from "../lib/api";

export const prerender = true;

import { getSinglePageData } from "../lib/getSinglePageData";
import GET_ALL_POSTS from "../lib/queries/getAllPosts";

const variables = { id: "7140" };
const singlePage = await getSinglePageData({ variables });

const areaPrices: Record<string, number[]> = {};
let hasNextPage = true;
let endCursor: string | null = null;

while (hasNextPage) {
  const variables = endCursor ? { after: endCursor } : {};
  const { posts } = (await fetchGraphQL(GET_ALL_POSTS, variables)) as {
    posts: {
      nodes: Post[];
      pageInfo: { hasNextPage: boolean; endCursor: string | null };
    };
  };

  // b: <explanation>
  posts.nodes.forEach((post: Post) => {
    const area = post.areas?.nodes[0]?.name;
    const priceString = post.prices?.nodes[0]?.name;

    if (!area || !priceString) return;

    const match = priceString.match(/[\d,.]+/);
    const numericPrice = match
      ? Number.parseFloat(match[0].replace(",", ""))
      : null;

    if (!numericPrice || Number.isNaN(numericPrice)) return;

    if (!areaPrices[area]) {
      areaPrices[area] = [];
    }

    areaPrices[area].push(numericPrice);
  });

  hasNextPage = posts.pageInfo.hasNextPage;
  endCursor = posts.pageInfo.endCursor;
}

const areaStats = Object.entries(areaPrices)
  .filter(([_, prices]) => prices.length >= 5) // minimum 5 reviews
  .map(([area, prices]) => {
    const avg = prices.reduce((a, b) => a + b, 0) / prices.length;
    return {
      name: area,
      average: Number.parseFloat(avg.toFixed(2)),
      count: prices.length,
    };
  })
  .sort((a, b) => a.average - b.average);

const threadedComments = organiseComments(singlePage.comments.nodes);
---

<BaseLayout
  pageTitle={singlePage.title}
  description={singlePage?.seo?.opengraphDescription}
  opengraphImage={singlePage?.seo?.opengraphImage?.sourceUrl}
>
  <FeaturedPostHeader
    imageSrc={singlePage?.featuredImage?.node?.sourceUrl}
    title={singlePage.title}
  />
  <div class="container">
    <div set:html={singlePage.content} />
    <ul>
      {
        areaStats.map((area) => (
          <li>
            The average price in {area.name} is £{area.average.toFixed(2)} (
            {area.count} reviews)
          </li>
        ))
      }
    </ul>
    <Newsletter />

    <Comments threadedComments={threadedComments} postId={singlePage.pageId} />
  </div>
</BaseLayout>
