---
import BaseLayout from "../layouts/BaseLayout.astro";
import type { Comments as CommentsType, Page, Post } from "../types";


import { organiseComments } from "../lib/comments";
import "../styles/post.css";
import Comments from "../components/comments.astro";
import Newsletter from "../components/newsletter.astro";
import logo3 from "../images/logo-3.png";
import { fetchGraphQL } from "../lib/api";

export const prerender = true;

import GET_ALL_POSTS from "../lib/queries/getAllPosts";
import SINGLE_PAGE_QUERY_PREVIEW from "../lib/queries/singlePage";

const variables = { id: "8297" };
let singlePage: Page | null = null;

try {
  const { page } = await fetchGraphQL(SINGLE_PAGE_QUERY_PREVIEW, variables);
  singlePage = page;
} catch (error) {
  console.error("Error fetching GraphQL data:", error);
}


if (!singlePage) {
  throw new Error("No single page data found");
}

const areaCountsByYear = new Map<string, Record<string, number>>();
const totalAreaCounts: Record<string, number> = {};

let hasNextPage = true;
let endCursor: string | null = null;

while (hasNextPage) {
  const variables = endCursor ? { after: endCursor } : {};
  const { posts } = await fetchGraphQL(GET_ALL_POSTS, variables);

  // b: <explanation>
  posts.nodes.forEach((post: Post) => {
    const year = post.yearsOfVisit?.nodes[0]?.name;
    const areas = post.areas?.nodes.map((a) => a.name);

    if (!year || !areas?.length) return;

    if (!areaCountsByYear.has(year)) {
      areaCountsByYear.set(year, {});
    }

    // biome-ignore lint/style/noNonNullAssertion: <explanation>
    const yearMap = areaCountsByYear.get(year)!;

    // b: <explanation>
    areas.forEach((area) => {
      yearMap[area] = (yearMap[area] || 0) + 1;
      totalAreaCounts[area] = (totalAreaCounts[area] || 0) + 1;
    });
  });

  hasNextPage = posts.pageInfo.hasNextPage;
  endCursor = posts.pageInfo.endCursor;
}

const preferredOrder = [
  "Central London",
  "North London",
  "West London",
  "East London",
  "South London",
];

const threadedComments = organiseComments(singlePage.comments.nodes);
---

<BaseLayout
  pageTitle={singlePage.title}
  description={singlePage?.seo?.opengraphDescription}
  opengraphImage={singlePage?.seo?.opengraphImage?.sourceUrl}
>
  <div class="image-container">
    <img
      src={singlePage?.featuredImage?.node?.sourceUrl || logo3.src}
      alt={singlePage.title}
      width={5000}
      height={5000}
      class="featured-image"
      loading="eager"
    />
    <div class="copyright-overlay">
      &copy; {new Date().getFullYear()} Roast Dinners in London. All rights reserved.
    </div>
  </div>
  <section class="post-title">
    <h2>{singlePage.title}</h2>
  </section>
  <div class="container">
    <div set:html={singlePage.content} />

    {
      Array.from(areaCountsByYear.entries())
        .sort(([a], [b]) => parseInt(a) - parseInt(b)) // Sort by year
        .map(([year, areas]) => {
          const sortedAreas: [string, number][] = [];

          preferredOrder.forEach((area) => {
            if (areas[area]) sortedAreas.push([area, areas[area]]);
          });

          return (
            <ul>
              <>
                <strong>{year}:</strong>
                <br />
              </>
              {sortedAreas.map(([area, count]) => (
                <li>
                  {area}: {count} roast{count === 1 ? "" : "s"}
                  <br />
                </li>
              ))}
              <br />
            </ul>
          );
        })
    }

    <hr />
    <h4>Total visits by area across all years</h4>
    <ul>
      {
        preferredOrder.map((area) =>
          totalAreaCounts[area] ? (
            <li>
              {area}: {totalAreaCounts[area]} roast
              {totalAreaCounts[area] === 1 ? "" : "s"}
            </li>
          ) : null
        )
      }
    </ul>

    <Newsletter />

    <Comments threadedComments={threadedComments} postId={singlePage.pageId} />
  </div>
</BaseLayout>


