---
import "../styles/post.css";
import Comments from "../components/comments/comments.astro";
import FeaturedPostHeader from "../components/featured-post-header/featured-post-header.astro";
import Newsletter from "../components/newsletter/newsletter.astro";
import type { Post } from "../types";
import BaseLayout from "./BaseLayout.astro";

const {
  pageTitle,
  description,
  opengraphImage,
  content,
  topRated,
  highRated = [],
  threadedComments,
  postId,
} = Astro.props;
---

<BaseLayout
  pageTitle={pageTitle}
  description={description}
  opengraphImage={opengraphImage}
>
  <FeaturedPostHeader imageSrc={opengraphImage} title={pageTitle} />

  <div class="container">
    <div set:html={content} />

    {
      topRated.map((post: Post) => (
        <div class="best-container">
          <div class="best-container-details">
            <h2>
              <a href={`/${post.slug}`}>{post.title}</a>
            </h2>

            {post.highlights?.loved && (
              <div class="post-summary-block highlight-block">
                <p>
                  <strong>Loved:</strong> {post.highlights.loved}
                </p>
                {post.highlights.loathed && (
                  <p>
                    <strong>Loathed:</strong> {post.highlights.loathed}
                  </p>
                )}
              </div>
            )}

            <p>
              <strong>Rating:</strong>{" "}
              {parseFloat(post?.ratings?.nodes[0].name || "").toFixed(2)}
            </p>

            {post.yearsOfVisit?.nodes?.[0]?.name && (
              <p>
                <strong>Year visited:</strong> {post.yearsOfVisit.nodes[0].name}
              </p>
            )}
          </div>

          {post.featuredImage?.node?.sourceUrl && (
            <div class="best-container-image">
              <img
                src={post.featuredImage.node.sourceUrl}
                alt={
                  post.featuredImage.node.altText || `Image for ${post.title}`
                }
              />
            </div>
          )}
        </div>
      ))
    }

    {
      highRated.length > 0 && (
        <section class="also-worth-a-try">
          <h3>Also Worth a Try</h3>
          <ul>
            {highRated.map(
              (roast: { slug: string; name: string; rating?: number }) => (
                <li>
                  <a href={`/${roast.slug}`}>{roast.name}</a> - {roast?.rating}
                </li>
              )
            )}
          </ul>
        </section>
      )
    }

    <Newsletter />
    <Comments threadedComments={threadedComments} postId={postId} />
  </div>
</BaseLayout>
